/* Подключаем шрифты */

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

/* Основные свойства */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

html {
    height: 100%;
}

body { 
    margin: 0;
    padding: 0;
    background-color: #FEAFC3;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.button {
    font-family: inherit;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    padding: 12px 32px;
    border-radius: 26px;
    background-clip: padding-box;
}

.white-button {
    color: #2D3440;
    background-color: #FCFCFC;
    border: 4px solid rgba(252, 252, 252, 0.4);
}

.red-button {
    color: #FCFCFC;
    background-color: #FF2F64;
}

/* Header */

/* Навигация */

.nav {
    display: flex;
}

.logo-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 0;
    margin-right: 16px;
}

.nav-list,
.nav-user {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link,
.nav-user-link {
    color: #2D3440;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
}

.nav-list {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-link {
    display: block;
    padding: 32px 16px;
}

.nav-user {
    width: 450px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.nav-user-link {
    padding: 26px 8px;
}

.nav-phone {
    font-weight: 700;
    padding: 32px 10px;
}

.nav-button-text {
    font-size: 14px;
}

/* Главная страница */

.main-container {
   flex-grow: 1;
}

/* Слайдер лучшее предложение */

.slider{
    color: #2D3440;

    margin-bottom: 80px;
}

.slide {
    display: flex;
}

.best-offer {
    width: 470px;
    margin-top: 136px;
    margin-left: 70px;
}

.best-offer-title {
    color: #2D3440;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;

    margin-top: 0;
    margin-bottom: 24px;
}

.best-offer-description {
    font-size: 18px;
    line-height: 24px;

    margin-top: 0;
    margin-bottom: 55px;
}

.ice-cream-wrapper {
    position: relative;
    height: 507px;
    width: 312px;
    margin: 21px;
}

.circle {
    position: absolute;
    width: 312px;
    height: 312px;
    border-radius: 50%;
    background-color: #FFCBD8;
    margin-top: 100px;
    margin-bottom: 95px;
}

.best-offer-img {
    position: absolute;
    z-index: 2;
    margin: 0;
}

.social-dots-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.slider-dots-list,
.social-slider-list {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
}

.slider-dots-item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FCFCFC;

    margin-right: 8px;
}

.slider-dots-item:last-child {
    margin-right: 0;
}

.social-slider-item {
    width: 24px;
    height: 24px;

    margin-right: 16px;
}

.social-slider-item:last-child {
    margin-right: 0;
}

/* Специальное предложение */

.gifts {
    color: #2D3440;
    margin-bottom: 80px;
}

.gifts-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;

    width: 443px;
    margin: 0 auto;
    margin-bottom: 56px;
}

.gifts-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.gifts-item {
    width: 570px;
    box-sizing: border-box;

    background-color: #FF7799;
    width: 570px;
    height: 268px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 40px;
}

.gifts-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    margin-top: 0;
    margin-bottom: 16px;
}

.gifts-item-description {
    width: 330px;
    margin-top: 0;
    margin-bottom: 32px;
}

.raspberry {
    background-image: url(../img/raspberry-gift.png); 
}

.marshmallow {
    background-image: url(../img/marshmallow-gift.png);
}

/* Популярные товары */

.popular  {
    margin-bottom: 80px;
}

.popular-title {
    color: #2D3440;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    width: 527px;
    margin: 0 auto;

    text-align: center;

    margin-bottom: 56px;
}

/* Товары */

.popular-list   {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.production {
    width: 270px;
    background-color: #FCFCFC;
}

.product {
    text-decoration: none;
}

.product-title {
    color: #2D3440;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.product-description {
    color: #565C66;
}

.product-img {
    border-radius: 50%;
}

.product-basket-button {
    display: block;
    width: 32px;
    height: 32px;
}

/* Преиущества магазина */

.special {
    background-image: url(../img/waffle-bg.jpg);
    background-repeat: no-repeat;
    width: 1122px;
    height: 432px;
    padding: 24px;
    border-radius: 16px;

    margin-bottom: 80px;
}

.special-inner {
    background-color: #FCFCFC;
    width: 1122px;
    height: 432px; 
    border-radius: inherit; 
}

.special-description {
    color: #2D3440;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;

    width: 995px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 56px;
}

.advantages-list {
    list-style: none;
    margin: 0;
    padding: 0;

    width: 1142px;
    padding-bottom: 56px;
    margin-left: 9px;
    display: flex;
    flex-wrap: wrap;
}

.special-item {
    width: 445px;
    margin-top: 40px;
    margin-left: 95px;
}

.special-item:nth-child(-n+2) {
    margin-top: 0;
}

/* Обложка новостей и рассылки */

.wrapper-blog-post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

/* Новостной блог */

.blog {
    background-color: #ffffff;
    background-image: url(../img/news-bg.jpg);
    background-repeat: no-repeat;
    width: 570px;
    height: 216px;
    border-radius: 16px;

    box-sizing: border-box;
    padding-top: 32px;
    padding-left: 32px;
}

.blog-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    margin-top: 0;
    margin-bottom: 12px;
}

.blog-article {
    color: #2D3440;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

/* Подписка на рассылку */

.post {
    background-image: url(../img/post-bg.jpg);
    background-repeat: no-repeat;
    width: 570px;
    height: 220px;
    border-radius: 16px;
}

.post-inner {
    background-color: #FCFCFC;
    width: 558px;
    height: 208px;
    margin: 6px;
    border-radius: 16px;
    box-sizing: border-box;
}

.post-description {
    margin: 0;
    padding: 26px 26px 42px;
}

/* Панель доставки */

.delivery {
    background-color: #fcfcfc;
    background-image: url(../img/delivery-bg.jpg);
    background-repeat: no-repeat;
    width: 1170px;
    height: 534px;
    border-radius: 16px;

    margin-bottom: 80px;

    display: flex;
}

.delivery-bar {
    width: 371px;
    margin-top: 167px;
    margin-left: 100px;
}

.delivery-title {
    color: #2D3440;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    margin-top: 0;
    margin-bottom: 24px;
}   

.delivery-description {
    margin: 0;
}

.delivery-form {
    background-color: #FCFCFC;
    border-radius: 8px;

    width: 500px;
    margin: 64px;
    margin-left: auto;
    padding-top: 40px;
    padding-left: 40px;
}

.delivery-form-title {
    margin-top: 0;
    margin-bottom: 32px;
}

.delivery-label {
    color: #2D3440;
    font-weight: 700;
    line-height: 20px;
}

/* Контакты и форма обратной связи */

.contacts {
    background-color: #fcfcfc;
    background-image: url(../img/form-bg.jpg);
    background-repeat: no-repeat;
    width: 1170px;
    height: 492px;
    border-radius: 16px;
    padding: 64px;
    box-sizing: border-box;
}

.contacts-inner {
    background-color: #FCFCFC;

    width: 343px;
}

.contacts-adress,
.contacts-tel {
    color: #2D3440;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

/* Станица каталога */

/* Хлебные крошки */

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style-type: none;

    margin-bottom: 16px;

    display: flex;
}

.breadcrumbs-item {
    margin-right: 28px;
}

.breadcrumbs-item:last-child {
    margin-right: 0;
}

.breadcrumbs-link {
    color: #2D3440;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.inner-header-title {
    color: #2D3440;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    margin-top: 0;
    margin-bottom: 40px;
}

/* Фильтр */

.filter {
    margin-bottom: 48px;
}

.filter-form {
    width: 807px;
    display: flex;
    flex-wrap: wrap;
}

.filter-form-item {
    border: 0 none;
    padding: 0;
}

.filter-sorting {
    width: 196px;
}

.filter-price {
    width: 196px;
}

.filter-fat-content {
    width: 367px;
}

.fat-content-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
}

.filter-fillers {
    width: 596px;
}

.filter-fillers-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
}

.filter-text-style {
    color: #2D3440;
    font-size: 14px;
    line-height: 20px;

    padding: 0;
    margin-bottom: 8px;
}

.form-button {
    color: #2D3440;
    padding: 6px 52px;
    border: 2px solid #FCFCFC;
    background: rgba(252, 252, 252, 0.3);
    font-size: 14px;

    align-self: flex-end;
}

/* Продукты */

.production-section {
    margin-bottom: 40px;
}

/* Пагинация каталога */

.production-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.production-list-catalog {
    margin-bottom: 16px;
}

.wrapper-pagination {
    height: 126px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.view-more {
    width: 179px; 
    padding: 12px 32px;
    justify-self: center;
}

.catalog-pagination {
    width: 194px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.catalog-pagination-link {
    color: #2D3440;
    line-height: 20px;
    text-decoration: none;
    text-align: center;

    display: block;
    width: 24px;
    height: 24px;
}

.left-pagination-control {
    margin-right: 8px;
 }
 
 .right-pagination-control {
     margin-left: 8px;
 }

/* Footer */

.page-footer {
    height: 153px;

    display: flex;
}

.social-footer {
    width: 144px;

    margin-right: 299px;
}

.social-footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 2px;
    margin-top: 46px;

    display: flex;
}

.social-footer-item {
    width: 28px;
    height: 28px;

    margin-right: 12px;
}

.social-footer-item:last-child {
    margin-right: 0;
}

/* Информация и Документация */

.footer-info {
    margin-right: 24px;
}

.footer-info-doc {
    width: 356px;
    margin-top: 48px;
    
    display: flex;
}

.footer-info-list   {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-info-item {
    max-width: 182px;
}

.footer-info-link {
    color: #2D3440;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.footer-info-heart {
    font-weight: 700;
}

.up-item {
    margin-bottom: 8px;
}

/* Информация о разработке */

.development {
    width: 193px;
    margin-left: auto;
    margin-right: 14px;
    margin-top: 48px;
}

.development-logo-link {
    display: block;
    line-height: 0;
    margin-bottom: 14px;
}

.development-htmlacademy {
    color: #2D3440;
    font-size: 12px;
    line-height: 16px;
}

.development-link {
    color: inherit;
}

/* Попапы */

.feedback-title,
.login-popup-title,
.basket-popup-message {
    color: #2D3440;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.basket-popup-message {
    text-align: center;
}

.login-popup-link {
    color: #2D3440;
    font-size: 14px;
    line-height: 20px;
}

.basket-popup-title {
    color: #2D3440;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.basket-popup-changed {
    background-color: #FCFCFC;
}

.basket-product-title,
.basket-product-cost,
.basket-final-cost {
    color: #2D3440;
    font-weight: 700;
    font-size: 18px;
}

.basket-product-value {
    color: #B9B9B9;
    font-size: 14px;
    line-height: 20px;
}